 /* Inserta tu CSS aqui */
div{
	width: 200px;
	height: 200px;
	position: absolute;
	display: block;


}
.uno{
	background-color: #EE3E64;
	left: 0;
	top: 0;
	
}
.dos{
	background-color: #44ACCF;
	right: 0;
	top: 0;
	
}
.tres{
	background-color: #B7D84B;
	left: 0;
	bottom: 0;
	
}
.cuatro{
	background-color: yellow;
	right: 0;
	bottom: 0;
}